.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.navItems{
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
 & a{
     display: block;
     @include fontSizeM;
     text-decoration: none;
     color: $textColor;
     text-transform: uppercase;
     font-weight: lighter;
 }

}

.fAicons{
width: 2.5rem;
height: 2.5rem;
cursor: pointer;
@include baseTransition;
& :hover{
    color: $cardTextColor;
}
}

.navlLogo{
    display: flex;
    align-items: center;
    justify-content: center;

    & .fAicons{
        width: 4rem;
        height: 4rem;
        filter: drop-shadow(0.15rem 0.15rem 0 #1d3535);
    }
    & label{
        @include fontSizeL;
        font-weight: lighter;
        text-transform: lowercase;
        margin-left: 2rem;
        & span{
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}


